<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/estilos.css">

</head>
<body>

    <%- include('./partials/header') %>
    

    <main class="gris-claro">

        <form id="login" action="/login" method="POST">

            <input class="input-text-email-date" type="text" id="usuario" name="email" placeholder="Ingrese su email"> <br>
            <input class="input-text-email-date" type="password" id="contrasenia" name="password" placeholder="Contraseña"> 
           <button type="submit">Enviar</button>
        </form>


    </main>
    

      
      <%- include('./partials/footer') %>

      

    
</body>
</html>