<footer>

    <article>

        <p><i class="fas fa-credit-card celeste icono-footer"></i></p>

        <b>Pagá con tarjeta o en efectivo</b>
        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
            seguro!
        </p>



    </article>
    <article>

        <p><i class="fas fa-gift celeste icono-footer"></i></p>
        <b>Envío gratis desde los $ 2.500</b>
        <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de
            MercadoPuntos.</p>

    </article>

    <article>

        <p><i class="fas fa-user-shield celeste icono-footer"></i></p>
        <b>Seguridad, de principio a fin</b>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
            protegid@.
        </p>

    </article>

    <div id="copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </div>
</footer>