<header class="amarillo">

    <div class="container-flex amarillo">

        <div class="logoybarra">

            <div id="logo">
               <a href="/"> <img src="/images/logo-mercado-liebre.svg"></a>
            </div>

            <div id="barra-busqueda">
                <input id="search" type="search" placeholder="Buscar productos, marcas y más">
                <i class="fas fa-search"></i>

            </div>

        </div>

        <div id="cuotas">
            <p><i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>

        <nav id="barra-navegacion">


            <nav class="nav-izquierda">

                <ul>
                    <li><a href="/#ofertas">Ofertas</a></li>
                    <li><a href="">Tiendas oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                    <li>
                </ul>


            </nav>

            <nav class="nav-derecha">


                <ul>
                    <li>
                        <a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li>
                        <a href="/login">Ingresá</a>
                        <i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li>
                        <a href="">Mis compras</a>
                        <i class="fas fa-shopping-basket"></i>
                    </li>
                </ul>

            </nav>

        </nav>
        <p style="text-align:center">
            <i class="fas fa-bars boton-menu"></i>
        </p>

    </div>
</header>